OBLIO_EMAIL=mail@firma.ro
OBLIO_PASSWORD=parola_oblio

OBLIO_LOGIN_URL=https://www.oblio.eu/login
OBLIO_STRIPE_URL=https://www.oblio.eu/report/integration_stripe

TIMEZONE=Europe/Bucharest
HEADLESS=1

LOGIN_RETRIES=3
EMIT_RETRIES=2
RUN_RETRIES=2
RETRY_DELAY_SECONDS=5

ALERT_WEBHOOK_URL=
ALERT_ON_SUCCESS=1
